*{
    margin:0;
    padding:0;
  }
  body{
    overflow-X:hidden;
  }
  body::-webkit-scrollbar{  width:20px; }
  body::-webkit-scrollbar-thumb{
    border-radius:100px;
    background:#b4abcb;
    box-shadow:inset 2px 2px 2px rgba(255, 255, 255, 0.25),inset -2px -2px -2px rgba(0,0,0,0.25);
    max-height:5px;
  }
  body::-webkit-scrollbar-track{
     margin-top:80px;
  }
  header{
    background: #b4abcb;
    height:5em;
    box-shadow:0px 0px 5px 0px;
    transition:all 0.5s ease-in;
  }
  
  .row{  display:flex; }
  .row .logo{
    margin:-1.4em 2em 0 6em; 
    height:100px; 
  }
  .row p{
    color:white;
    font-size:20px;
    margin:1.8em 1em 1em 0;
    font-family:'Srisakdi', cursive;
  }
   
  .nav-links nav{
    float:right;
    width:65%;
    margin:-2.65em 2em 1em 0;
    min-width:25em;
    font-size:1.3vw;
  }
  nav li {
   display: inline-block;
  }
  nav li a{
   transition:0.7s ease;
   text-decoration:none;
   color:white;
   padding:0.9em;
  }
  nav li a:hover{
   text-decoration:none;
   font-size:1.6vw;
   color:white;
  }
  .active{  color: #b65794 }
  .active:before{
      margin:1.5em 0 0 -0.5em;
      transition:all 0.2s;
  }
  .active:hover{ color:#b65794; }
  .active:hover:before{
      background-color:white;
  }
  .login{
    background-color:#b65794;
    color:white;
    border-radius:10%;
    padding:9px;
  }
  .login:hover{
   background-color:white;    
   color:#b65794;
   padding:9px;
  }
  .search-icon{
    height:1.7em;
    width:240px;
    background:white;
    border:4px solid #bd77ab;
    border-radius:50px;
  }
  textarea:focus, input:focus{
    outline: none;
  }
  .search-icon input{
    height:75%;
    width:200px;
    border:none;
    font-size:0.8em;
    border-radius:50px;
    font-family:cursive;
    margin-left:0.5em;
  }
  .search-icon .icon{
    height:100%;
    line-height:2em;
    text-align:center;
    cursor:pointer;
    border-radius:50px;
  }
  .search-icon .icon span{
    color:#b4abcb;
    font-size:18px;
  }
  .header-img img{
    margin-top:-4px;
  }
  .container-1{
    display:flex;
    width:100%;
    height:10vw;
    margin:5em;
  }
  .container-1 div{
    max-width:70%;
    background: #b65794;
    border-radius:50%;
    color:white;
  }
  .container-1 h2{
    padding:2em;
    font-size:2vw;
  }
.container-1 p{
  padding-left:8em;
  width:50%;
  font-size:1.5em;
  font-family: cursive;
}
.container-2 {
  margin-top:10em;
}
.container-2 h1{
 color:#9a6c94;
 font-size:3em;
 text-align:center;
}
.container-2 p{
  font-size:1.5em;
}   
.list-1{
  display:flex;
  list-style-type: none;
  padding:5em;
}
.list-1 a{
  color:#b65794;
  font-size:1.6em;
  margin-top:2em;
  text-decoration: none;
}
.footer{
  background-color: #b4abcb;
  color:white;
  font-size:1.5em;
  text-align:center;
}

